<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> {{title}}
    </a>

    <a class="navbar-brand" [routerLink]="['/support']">Soporte técnico</a>

  </div>
</nav>

<div class="main-container">
  <div class="title-container">
    <h1>¡Bienvenidos a {{title}}!</h1>
  </div>

  <div class="shopping-container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer> {{title}} 2022</footer>